@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                Hello @User.Identity.Name
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Pick Identity", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
