@{
    ViewBag.Title = "Authorization Required";
}
<div class="jumbotron">
    <div class="container">
        <h1>Authorization Required</h1>
        <p>[Authorize]</p>
        <p>Any authorized user can access this resource.</p>
    </div>
</div>