@{
    ViewBag.Title = "No Authorization Required";
}
<div class="jumbotron">
    <div class="container">
        <h1>No Authorization Required</h1>
        <p>Anyone can access this resource.</p>
    </div>
</div>