@{
    ViewBag.Title = "Budiling Entry";
}
<div class="jumbotron">
    <div class="container">
        <h1>Building Entry</h1>
        <p>[Authorize(Policy = "CanEnterContosoBuilding")]</p>
        <p>Custom code based policy with multiple handers.</p>
        <p>Any current employee with a contoso badge, or an authorized visitor with a guest pass which has no expired..</p>
    </div>
</div>