@{
    ViewBag.Title = "No Gingers";
}
<div class="jumbotron">
    <div class="container">
        <h1>NoGingers</h1>
        <p>[Authorize(Policy = "NoGingers")]</p>
        <p>Custom code based policy with multiple handers.</p>
        <p>Any user with hair which is not ginger, or any bald user.</p>
    </div>
</div>