@{
    ViewBag.Title = "Taco Tuesday!";
}
<div class="jumbotron">
    <div class="container">
        <h1>Taco Tuesday</h1>
        <p>[Authorize(Policy = "TacoTuesday")]</p>
        <p>Custom code based policy.</p>
        <p>Any authenicated user on a Tuesday.</p>
    </div>
</div>