@{
    ViewBag.Title = "Tequilla & Taco Tuesday!";
}
<div class="jumbotron">
    <div class="container">
        <h1>Tequailla & Taco Tuesday</h1>
        <p>[Authorize(Policy = "TequillaTacoTuesday")]</p>
        <p>Custom code based policy.</p>
        <p>Any authenicated user who is over 21, and today is Tuesday.</p>
    </div>
</div>