<div class="jumbotron">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>You tried to access a resource you don't have permissions to see.</p>
        <p>You need to log off and log in again with an account which has the appropriate permissions.</p>
    </div>
</div>