<html>
<head>
    <title>Anyone</title>
</head>
<body>
    <h1>Hello World.</h1>
    <ul>
        <li><a href="/home/anyauthorized/">Any authorized</a></li>
        <li><a href="/home/requirenameclaim/">Any name claim</a></li>
        <li><a href="/home/custompolicy/">Custom, runtime created policy</a></li>
    </ul>
</body>
</html>
